/* Pacifico Font */
@font-face {
  font-family: 'Pacifico';
  src: url('../fonts/Pacifico/Pacifico-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Petrona Variable Font */
@font-face {
  font-family: 'Petrona';
  src: url('../fonts/Petrona/Petrona-VariableFont_wght.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Petrona';
  src: url('../fonts/Petrona/Petrona-Italic-VariableFont_wght.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

/* Variables de fuentes */
:root {
  --font-display: 'Pacifico', cursive;
  --font-body: 'Petrona', serif;
}
